astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
docopt==0.6.2
idna==2.10
isort==5.5.4
Js2Py==0.70
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
packaging==20.4
Pillow==7.2.0
pipwin==0.5.0
PyAutoGUI==0.9.51
PyGetWindow==0.0.9
pyjsparser==2.7.1
pylint==2.6.0
PyMsgBox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.26
pySmartDL==1.3.4
PyTweening==1.0.3
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
toml==0.10.1
tzlocal==2.1
urllib3==1.25.10
Wave==0.0.2
wrapt==1.12.1
